/**************************
 * Circles
 **************************/
.circle {
    border-radius: 100%;
    width: 270px;
    height: 270px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: relative;

    &-small {
        width: 140px;
        height: 140px;
    }

    &-xtra-small {
        width: 100px;
        height: 100px;
    }

    &-grey {
        background-color: $grey-lightest;
        color: $grey-dark;
    }

    &-blue {
        background-color: $blue;
        color: $white;
    }

    .image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .text-columnized {
        width: 80px;
        display: block;
        margin: 0 auto;
        text-align: left;
    }
}

.circle-media-types {
    position: relative;

    .inner-circle {
        position: relative;
        background-color: $grey-lightest;
        border-radius: 100%;
        width: 400px;
        height: 400px;
        margin: 0 auto;
        display: table;
        background-image: url("../images/inner-circle.png");
        background-repeat: no-repeat;
        background-size: 365px;
        background-position: center center;

        .cta {
            position: relative;
            top: -13px;

            a {
                color: $grey-dark;
            }
        }

        .corner {
            background-color: $grey-dark;
            border: 15px solid $grey-lighter;
            border-radius: 100%;
            width: 130px;
            height: 130px;
            position: absolute;
            display: table;

            .tooltip {
                position: absolute;
                background-color: $grey-lightest;
                padding: 10px;
                width: 250px;
                text-align: left;
            }

            .difference {
                display: none;
                background-color: $grey-dark;
                border-radius: 100%;
                width: 50px;
                height: 50px;
                position: absolute;
                right: -30px;
                top: -10px;

                &.active {
                    display: table;
                }
            }

            .category {
                position: absolute;
                width: 300px;
                text-align: center;
            }

            &-top-left {
                left: -30px;
                top: -30px;

                .tooltip {
                    left: -325px;
                    top: -50px;
                }

                .category {
                    top: -45px;
                    left: -100px;
                }
            }

            &-top-right {
                right: -30px;
                top: -30px;

                .tooltip {
                    left: 155px;
                    top: -50px;
                }


                .category {
                    top: -45px;
                    left: -100px;
                }
            }

            &-bottom-left {
                left: -30px;
                bottom: -30px;

                .tooltip {
                    left: -365px;
                    bottom: -50px;
                }

                .category {
                    bottom: -45px;
                    left: -100px;
                }
            }

            &-bottom-right {
                right: -30px;
                bottom: -30px;

                .tooltip {
                    left: 175px;
                    bottom: -50px;
                }

                .category {
                    bottom: -45px;
                    left: -100px;
                }
            }
        }
    }
}
