/**************************
 * Margin
 **************************/
.no-margin {
    margin: 0;
}

@for $i from 0 through 120 {
    .margin-top-#{$i} {
        margin-top: $i#{px};
    }
}

@for $i from 0 through 60 {
    .margin-bottom-#{$i} {
        margin-bottom: $i#{px};
    }
}

@for $i from 0 through 60 {
    .margin-left-#{$i} {
        margin-left: $i#{px};
    }
}

@for $i from 0 through 60 {
    .margin-right-#{$i} {
        margin-right: $i#{px};
    }
}

/**************************
 * Padding
 **************************/
.no-padding {
    padding: 0;
}

@for $i from 0 through 20 {
    .padding-#{$i} {
        padding: $i#{px};
    }
}

@for $i from 0 through 60 {
    .padding-top-#{$i} {
        padding-top: $i#{px};
    }
}

@for $i from 0 through 60 {
    .padding-bottom-#{$i} {
        padding-bottom: $i#{px};
    }
}

@for $i from 0 through 60 {
    .padding-left-#{$i} {
        padding-left: $i#{px};
    }
}

@for $i from 0 through 60 {
    .padding-right-#{$i} {
        padding-right: $i#{px};
    }
}


/**************************
 * Left/Right
 **************************/
 .relative {
     position: relative;
 }

 .absolute {
     position: absolute;
 }

 @for $i from 1 through 10 {
     .z-index-#{$i} {
         z-index: $i;
     }
 }

@for $i from 0 through 60 {
    .left-#{$i} {
        left: $i#{px};
    }
}

@for $i from 0 through 60 {
    .right-#{$i} {
        right: $i#{px};
    }
}

.top-minus-25 {
    top: -25px;
}

/**************************
 * Text
 **************************/
.text-big {
    font-size: 55px;
    font-weight: 300;
    line-height: 1em;
}

.text-medium {
    font-size: 35px;
    font-weight: 300;
    line-height: 1em;
}

.text-small {
    font-size: 16px;
    line-height: 1.25em;
}

.text-xtra-small {
    font-size: 12px;
    line-height: 1.25em;
}

.text-bold {
    font-weight: 700;
}

.text-regular {
    font-weight: 400;
}

.text-light {
    font-weight: 200;
}

.text-blue {
    color: $blue-pastel !important;
}

.text-green {
    color: $green-pastel !important;
}

.text-white {
    color: $white !important;
}

.text-centered {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/**
 * Backgrounds
 */
.bg {
    &-grey-light {
        background-color: $grey-lighter;
    }
}

/**
 * Images
 */
.img {
    &-fluid {
        max-width: 100%;
    }
}
