/**************************
 * Menu
 **************************/
#menu {
    position: fixed;
    right: 130px;
    top: 50%;

    ul {
        padding-left: 0;

        li {
            list-style: none;
            position: relative;
            margin-top: 6px;

            &:first-child {
                margin-top: 0;
            }

            //Link-Buttons inactive
            a {
                display: block;
                height: 30px;
                width: 30px;
                border-radius: 30px;
                background-color: $grey-darkest;
            }

            //Link-Buttons active
            &.active {
                a {
                    background-color: $green;
                    box-shadow: 0 0 4px rgba(0,0,0,0.15);

                    &.blue {
                        background-color: $blue;
                    }
                }
            }

            //Tooltip inactive
            .name {
                display: none;
            }

            //Tooltip active
            &:hover {
                .name {
                    display: block;
                    position: absolute;
                    right: 40px;
                    top: 0;
                    background-color: white;
                    padding: 5px 10px;
                    font-size: 12px;
                    word-break: keep-all;

                    &:after {
                        position: absolute;
                        content:"";
                        width:0;
                        height:0;
                        border-top:7px solid transparent;
                        border-bottom:7px solid transparent;
                        border-left:7px solid white;
                        right: -7px;
                    }
                }
            }
        }
    }
}
