#menu {
    position: fixed;
    right: 0;
    top: 0;

    ul {
        li {
            list-style: none;
            position: relative;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }

            //Link-Buttons inactive
            a {
                display: block;
                height: 30px;
                width: 30px;
                background: url('../images/menu-default.png') no-repeat;
                background-size: 30px;
            }

            //Link-Buttons active
            &.active {
                a {
                    background-image: url('../images/menu-active.png');
                }
            }

            //Tooltip inactive
            .name {
                display: none;
            }

            //Tooltip active
            &:hover {
                .name {
                    display: block;
                    position: absolute;
                    right: 40px;
                    top: 0;
                    background-color: white;
                    padding: 5px 10px;
                    font-size: 12px;
                }
            }
        }
    }
}
