/**************************
 * Pillars
 **************************/
.pillar-outer {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
}

.pillar {
    min-height: 65px !important;

    &-green {
        background-color: $green;
        color: $grey-darkest;
    }

    &-blue {
        background-color: $blue;
        color: $grey-darkest;
    }

    &-grey {
        background-color: $grey-cable;
        color: $grey-darkest;
    }
}
