/**************************
 * Pillars
 **************************/
.pillar {
    &-green {
        background-color: $green-pastel;
        color: $grey-darkest;
    }

    &-blue {
        background-color: $blue-pastel;
        color: $grey-darkest;
    }

    &-grey {
        background-color: $grey-darkest;
        color: $white;
    }
}
