@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,500,700');

*,
*:after,
*:before {
    box-sizing: border-box;
}

/**************************
 * Body
 **************************/
body {
    font-family: $font-text;
    color: $grey-darkest;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

/**************************
 * Paragraphs
 **************************/
p {
    line-height: 1.75em;
}

/**************************
 * Lines
 **************************/
 hr {
     border: none;
     border-bottom: 1px solid $grey-dark;
 }

/**************************
 * Headings
 **************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-headings;
    margin: 5px 0;
}

h1 { font-size: $h1-size; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }

/**************************
 * Text
 **************************/
.text-dark {
    color: $grey-darkest;

    h1,h2,h3,h4,h5,h6 {
        color: $grey-darkest;
    }
}

.text-light {
    color: $white;

    h1,h2,h3,h4,h5,h6 {
        color: $white;
    }
}

/**************************
 * Containers
 **************************/
.container {
    width: 1000px;
    margin: 0 auto;
}

 /**************************
  * Grid
  **************************/
.row {
    margin-left: -15px;
    margin-right: -15px;

    &:after,
    &:before {
        clear: both;
        display: table;
        content: " ";
    }
}

%col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        width: (100/$grid-columns)*$i#{'%'};
        @extend %col;
    }
}

/**
 * Intro picture
 */
#intro {
    width: 100%;
}

/**
 * Select
 */
select {
    background-color: $grey-lightest;
    border: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 220px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-image: url('../images/caret-down.png');
    background-repeat: no-repeat;
    background-position: right center;
}
