@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,500,700');

*,
*:after,
*:before {
    box-sizing: border-box;
}

/**************************
 * Body
 **************************/
body {
    font-family: $font-text;
    color: $grey-darkest;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

/**************************
 * Paragraphs
 **************************/
p {
    line-height: 1.75em;
}

/**************************
 * Lines
 **************************/
 hr {
     border: none;
     border-bottom: 1px solid $grey-dark;
 }

/**************************
 * Headings
 **************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-headings;
    margin: 5px 0;
}

h1 { font-size: $h1-size; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }

a {
    color: $grey-dark;

    &.light {
        color: $white;
    }
}

/**************************
 * Text
 **************************/
.text-dark {
    color: $grey-darkest;

    h1,h2,h3,h4,h5,h6 {
        color: $grey-darkest;
    }
}

.text-light {
    color: $white;

    h1,h2,h3,h4,h5,h6 {
        color: $white;
    }
}

/**************************
 * Containers
 **************************/
.container {
    width: 1000px;
    margin: 0 auto;
}

 /**************************
  * Grid
  **************************/
.row {
    margin-left: -15px;
    margin-right: -15px;

    &:after,
    &:before {
        clear: both;
        display: table;
        content: " ";
    }
}

%col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        width: (100/$grid-columns)*$i#{'%'};
        @extend %col;
    }
}

/**
 * Intro picture
 */
#intro {
    width: 100%;
}

/*
 * Hand with phone
 */
#hand-with-tablet {
    position: absolute;
    left: 5px;
    top: 20px;
    z-index: 2;
    width: 350px;
}

/**
 * Tooltip
 */
.pointer {
    cursor: pointer;
}

.tooltip-generic {
    display: none;
    background-color: $white;
    padding: 10px;
    position: absolute;
    z-index: 99;

    &#crm-tooltip,
    &#social-media-tooltip,
    &#website-tooltip {
        top: 105%;
        border-bottom: 1px solid $grey-lightest;
        border-left: 1px solid $grey-lightest;
        border-right: 1px solid $grey-lightest;
    }

    &#web-sales-tooltip {
        left: -220px;
        bottom: -18px;
        width: 170px;

        &:before {
            position: absolute;
            content:"";
            width:0;
            height:0;
            border-right: none;
            border-left:7px solid $white;
            border-bottom:7px solid transparent;
            border-top:7px solid transparent;
            top: auto;
            right: -7px;
            bottom: 11px;
            left: auto;
        }
    }

    &#edi-sales-tooltip {
        right: -220px;
        bottom: -24px;
        width: 170px;

        &:before {
            position: absolute;
            content:"";
            width:0;
            height:0;
            border-left: none;
            border-right:7px solid $white;
            border-bottom:7px solid transparent;
            border-top:7px solid transparent;
            top: auto;
            left: -3.5px;
            bottom: 18px;
        }
    }

    &:before {
        position: absolute;
        content:"";
        width:0;
        height:0;
        border-right:7px solid transparent;
        border-bottom:7px solid $white;
        border-left:7px solid transparent;
        top: -7px;
        left: 50%;
        margin-left: -3.5px;
    }
}

/**
 * Select
 */
select {
    background-color: $grey-lightest;
    border: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 220px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-image: url('../images/caret-down.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.tabs {
    .tab {
        display: inline-block;
        height: 78px;
        width: auto;
        background-color: $grey-lightest;
        vertical-align: top;
        margin-right: -5px;
        padding: 5px 15px;
        border: 1px solid transparentize($grey-light, 0.7);
        cursor: pointer;

        img {
            height: 35px;
        }

        &:hover,
        &.active {
            background-color: $grey-lighter;
        }

        &-left {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &-right {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}

/**
 * Charts
 */
#pie-hole {
    z-index: 99;
    left: 282px;
    top: 95px;
}

/**
 * Speedo
 */
.speedometer {
    .speedo-bg {
        width: 248px;
        position: absolute;
        top: 11px;
        left: 11px;
    }

    .speedo-year {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
        transform-origin: 50% 90%;
        color: $grey-light;

        &#year-2011 {
            transform: rotateZ(-3deg);
            top: 105px;
            left: 85px;
        }

        &#year-2013 {
            transform: rotateZ(-62deg);
            top: 75px;
            left: 133px;
        }

        &#year-2015 {
            transform: rotateZ(-3deg);
            top: 100px;
            left: 165px;
        }
    }

    .speedo-arrow {
        position: absolute;
        left: 50%;
        margin-left: -10px;
        top: 57px;
        width: 20px;
        transform-origin: 50% 90%;
        transform: rotateZ(-120deg);

        &.opaque {
            opacity: 0.25;
        }
    }

    .speedo-mbit {
        position: absolute;
        width: 77px;
        left: 50%;
        padding: 0 5px;
        margin-left: -38.5px;
        bottom: 50px;
        font-size: 14px;
        text-align: right;
        background-color: #333;
        color: $white;
    }
}

#select-country {
    position: absolute;
    top: 10px;
    left: 70px;
    z-index: 9999;
    width: 190px;
}

#click-me {
    position: absolute;
    top: 45px;
    left: -135px;
    z-index: 9999;
    width: 110px;
}

ul.link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;

    li.title {
        font-size: 16px;
        opacity: 1;
        margin-bottom: 8px;
    }

    li {
        opacity: 0.6;
    }
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #333;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #333 transparent transparent;
}
