/**************************
 * Sections
 **************************/
.section {
    &-lightgrey {
        background-color: $grey-lightest;
    }

    &-darkgrey {
        background-color: $grey-lighter;
    }

    &-blue {
        background-color: $blue-pastel;
    }

    &-green {
        background-color: $green-pastel;
    }

    &-sources {
        background-color: $grey-dark;

    }
}
