//Main colors
$lightgrey: #E6E9ED;
$darkgrey: #CCD1D9;
$blackgrey: #333;
$blue: #A3D7E9;
$green: #B3D490;

//Section backgrounds
$section-lightgrey: $lightgrey;
$section-darkgrey: $darkgrey;
$section-blue: $blue;
$section-green: $green;
$section-sources: #434A54;

//Text colors
$color-default: #434A54;
$color-inverted: #FFFFFF;
